.titleSeccion4 {
    font-family: "Montserrat-Regular" !important;
    font-size: 2rem !important;
    color: #fff !important;
    text-align: center !important;
    text-transform: uppercase !important;
    z-index: 1 !important;
}