.title-routes{
    font-family: "Montserrat-Bold" !important;
    font-size: 3.5rem !important;
    color: #2D2D2D !important;
    text-transform: uppercase !important;
}

.icono:hover{
    transform: scale(1.1);
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(242, 244, 248, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(242, 244, 248, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(242, 244, 248, 0);
    }
}

.icono {
    animation: pulse 2s infinite;
}
