.titleSeccion4S {
    font-family: "Montserrat-Bold" !important;
    font-size: 2rem !important;
    color: #2D2D2D !important;
    text-align: center !important;
    text-transform: uppercase !important;
    z-index: 1 !important;
}

.serviceTitleS {
    font-family: "Montserrat-Regular" !important;
    font-size: 1rem !important;
    color: #2D2D2D !important;
    text-align: center !important;
    z-index: 1 !important;
}

@media (max-width: 600px) {
    .titleSeccion4S{
        font-size: 1.5rem !important;
    }
    .serviceTitleS{
        font-size: 0.6rem !important;
    }
    
}